.tierItem{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.tierItem .badge{
    width:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    transform: translateY(40px);
    border-radius: 50%;
}
.badge svg{
    object-fit: cover;
    height: 70px;
    width: 70px;
}
.tierItem .itemBox{
    width: 100%;
    height: 100%;
    padding:5px 0px;
    padding-top:30px;
    background-color: #f2f2f2;
    transition: all 0.5s ease;
}
.itemBox .title{
    font-size:1.2rem;
    text-align: center;
}
.itemBox .price{
    font-size:1rem;
    font-weight: bold;
    text-align: center;
}

input[name='tier'] + label{
    transition: all 0.5s ease;
}
input[name='tier']{
    display: none;
}
input[name='tier']:checked + label .itemBox{
    box-shadow: 2px 2px 10px gray;
}
input[name='tier']:checked + label{
    transform: scale(1.05);
}

.itemBox .details{
    color:gray;
    font-style: italic;
    font-size:0.8rem;
    margin-top:1rem;
}
.itemBox li+li{
    margin-top:0.5rem;
}

